#
# Copyright (c) 2007 by Naohide Sano, All rights reserved.
#
# Written by Naohide Sano
#
# gifani
#
# @author	Naohide Sano
# @version	0.00	070709	nsano	initial version
#

encoding=UTF-8
vavi.dir=${user.home}/src/vavi
support1.dir=${vavi.dir}/java/test/148
support2.dir=${vavi.dir}/java/test/146

susie.plugin.path=/usr/local/lib/susie/plugins

#ts.image=Images/image3.gif
ts.image=Images/orlando3.jpg

t7.image=${user.home}/lib/windows/office/J0149407.WMF
